@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/overpass-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/overpass-v19-latin-700.woff2") format("woff2");
}

:root {
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --space-1: 0.125em;
  --space-2: 1em;
  --space-3: 1.875em;
  --space-4: 2.75em;
  --max-width: calc(10 * var(--space-4));
  --font-size: clamp(
    15px,
    15px + (100vw - 375px) * (18 - 15) / (1440 - 375),
    18px
  );
  --outline: 0.1em solid var(--white);
}

body {
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.5;
  font-family: Overpass, Arial, Helvetica, sans-serif;
  background-color: var(--grey-950);
  color: var(--white);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-inline: var(--space-3);
  height: 100dvh;
}

section[aria-labelledby="rating-form"] {
  padding: var(--space-4) var(--space-3);
  max-width: var(--max-width);
  border-radius: var(--space-2);
  background-color: var(--grey-900);

  picture:has(img[alt="star"]) {
    display: flex;
    margin-block-end: var(--space-2);
    width: var(--space-4);
    height: var(--space-4);
    border-radius: 100%;
    background-color: hsl(from var(--grey-500) h s l / 12.5%);

    img {
      margin: auto;
      width: var(--space-2);
      height: var(--space-2);
    }
  }

  h1 {
    font-weight: 700;
    font-size: 1.75em;
  }

  p {
    margin-block: var(--space-2);
    color: var(--grey-500);
  }

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-2);
    margin-block-start: var(--space-3);

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--space-4);
      height: var(--space-4);
      border-radius: 100%;
      position: relative;
      font-weight: 700;
      background-color: hsl(from var(--grey-500) h s l / 12.5%);
      color: var(--grey-500);
      cursor: pointer;

      input {
        position: absolute;
        z-index: -1;
      }

      &:has(input:focus) {
        outline: var(--outline);
      }

      &:hover {
        background-color: var(--white);
        color: var(--grey-900);
      }

      &:has(input:checked) {
        background-color: var(--orange-500);
        color: var(--grey-900);
      }
    }

    button {
      width: 100%;
      height: var(--space-4);
      border: none;
      border-radius: 999px;
      font-weight: 700;
      letter-spacing: var(--space-1);
      background-color: var(--orange-500);
      color: var(--grey-900);
      cursor: pointer;

      &:focus {
        outline: var(--outline);
      }

      &:hover {
        background-color: var(--white);
        color: var(--grey-900);
      }
    }
  }
}

section[aria-describedby="toast-heading"] {
  padding: var(--space-4) var(--space-3);
  max-width: var(--max-width);
  border-radius: var(--space-2);
  text-align: center;
  background-color: var(--grey-900);

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);

    figcaption {
      padding: var(--space-1) var(--space-2);
      border-radius: 999px;
      background-color: hsl(from var(--grey-500) h s l / 12.5%);
      color: var(--orange-500);
    }
  }

  h1 {
    margin-block: var(--space-2) var(--space-1);
    font-weight: 700;
    font-size: 1.75em;
  }

  p {
    color: var(--grey-500);
  }
}
